aiogram==3.13.1
asyncpg
aiohttp
beautifulsoup4
requests
google-generativeai
pillow
python-dotenv
pytz
lxml
numpy
scikit-learn
torch --extra-index-url https://download.pytorch.org/whl/cpu
transformers
sentence-transformers
python-telegram-bot[job-queue]==20.8
